@import "../../vars.module.scss";

.ChipaLink {
    text-decoration: none;
    display: inline-block;
    margin: auto 5px;
    font-family: $text-font;

    &::after {
        content: "";
        width: 0px;
        height: 1px;
        display: block;
        transition: 300ms;
        background-color: $white-theme-color-alternative;
    }

    &:hover::after {
        width: 100%;
    }
}

.black::after {
    background-color: $black-theme-color-alternative;
}
