@import "../vars.module.scss";

.header {
  background-color: $white-theme-color-secondary;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    .logo_text {
      color: $white-theme-color-titles;
      font-family: $titles-font;
    }

    img { width: 80px; height: 80px; }
  }
}

.nav {
  display: flex;
  flex-direction: row;
}

.hamburger {
  margin: auto 0;
  display: block;
  cursor: pointer;

  .bar {
    width: 35px;
    height: 3px;
    background-color: $white-theme-button-color-main;
    margin: 6px 0;
    transition: 0.4s;
  }

  .mobile_menu {
    display: none;
  }
}

.open {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile_menu {
    display: block;
    position: absolute;
    top: 10%;
    width: 200px;
    background-color: aqua;

    a {
      display: block;
    }
  }
}

@media screen and (min-width: 320px) {
  .logo_text,
  .nav {
    display: none;
  }
}

@media screen and (min-width: 744px) {
  .logo_text {
    display: block;
    font-size: $tablet-font-title-size;
  }
}

@media screen and (min-width: 1280px) {
  .logo_text {
    font-size: $desktop-font-title-size;
  }

  .hamburger {
    display: none;
  }

  .nav {
    display: block;
  }
}
